name: Docs

on:
  push:
    branches:
      - master
    paths:
      - 'packages/docs/**'

jobs:
  build-docs:
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 9
          run_install: false

      - name: Set Node.js version
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Install dependencies in docs
        run: pnpm --filter docs install
        working-directory: ./packages/docs

      - name: Build docs
        run: pnpm --filter docs build
        working-directory: ./packages/docs

      - name: Push docs
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./packages/docs/dist
